$primaryBg: #fafafa;
$primaryText: #0f172a;
$secondaryText: #e7e5e4;
$primaryShadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$primaryTransition: 300ms ease;
$successColor: #10b981;
